{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col">
                <img>
            </div>
            <div class="col">
                <p>My own needle and wet-felted toys, brooches, paintings and other experiments with
                    dyed wool, or what I like to call "woollies"
                </p>
                <a href="/" class="shop=now-button btn btn-lg rounded textuppercase py-5">Shop Now</a>
            </div>
        </div>
    </div>
{% endblock %}