{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <!--Homepage picture and presentation. On smaller than medium devices
    the column on the left comes on top of the one on the right.
    This is done with hide and display properties from bootstrap-->
    <div class ="overlay"></div>
    <section class="container-fluid">
        <div class="row homepage-style text-center">
            <div class="col-12 col-md-6 homepage-bg">
                <div class="d-md-none my-5">
                    <div class="homepage-title">
                    </div>
                    <div>
                        <p class="my-5 font-weight-bold">My own needle and wet-felted toys, brooches, paintings and other experiments with
                            dyed wool, or what I like to call "woollies"
                        </p>
                    </div>
                    <div>
                        <a href="{% url 'products' %}" class=" btn btn-lg shop-now-button my-4 rounded text-uppercase">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 my-auto d-none d-md-block">
                <div class="homepage-title">

                </div>
                <div>
                    <p class="my-5 font-weight-bold">Needle and wet-felted homemade accessories and toys
                        made from fine merino wool
                    </p>
                </div>
                <div>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded text-uppercase">Shop Now</a>
                </div>
            </div>
        </div>
    </section>

    <!--On sale products and a carousel with collections-->
    <section class="container">
        <!--On sale section with only 4 products rendered for home page. A link to all on sale products-->
        <div class="row on-sale mt-5 pt-3">
            <div class="col">
                <div class="on-sale-bar rounded">
                    <h5 class="float-left pl-3 mt-2">ON SALE</h5>
                    <a href="{% url 'products' %}?on_sale" class="float-right text-decoration-none text-white pr-3 mt-2"><strong>View all</strong></a>
                </div>
                <div class="row mt-3">
                {% for product in products_on_sale %}
                <div class="col-12 col-sm-6 col-lg-3 mb-5">
                    <div class="card h-100">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            {% if product.rating %}
                                <small class="text-muted">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {{ product.rating }} / 5
                                </small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                        <div class="card-footer bg-white border-0 pt-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0">{{ product.name }}</p>
                                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                    <p class="text-muted"><small><i class="fas fa-table"></i> {{ product.collection.friendly_name }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!--Cards with link to each collection page and one for all products.-->
        <div class="row mt-5">
            <div class="col">
                <div class="collections-bar rounded">
                    <h5 class="float-left pl-3 mt-2">COLLECTIONS</h5>
                    <a href="{% url 'products' %}?on_sale" class="float-right text-decoration-none text-white pr-3 mt-2"><strong>View all</strong></a>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-sm-6 col-lg-4 mb-5">
                        <a href="{% url 'products' %}?collection=toys">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="{% media 'santa.jpg' %}" alt="toys">
                                <div class="card-body pb-0">
                                </div>
                                <div class="card-footer bg-white border-0 pt-0">
                                    <div class="row">
                                        <div class="col">
                                            <div class="collection-badge text-center">
                                                <span class="p-3 mb-5 badge badge-home border border-purple text-purple"><h5 class="mb-0">Toys</h5></span>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 mb-5">
                        <a href="{% url 'products' %}?collection=felted_brooches">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="" alt="felted_brooches">
                                <div class="card-body pb-0">
                                </div>
                                <div class="card-footer bg-white border-0 pt-0">
                                    <div class="row">
                                        <div class="col">
                                            <div class="collection-badge text-center">
                                                <span class="p-3 mb-5 badge badge-home border border-purple text-purple"><h5 class="mb-0">Brooches</h5></span>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 mb-5">
                        <a href="{% url 'products' %}?collection=wool_paintings">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="" alt="wool_paintings">
                                <div class="card-body pb-0">
                                </div>
                                <div class="card-footer bg-white border-0 pt-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <div class="collection-badge text-center">
                                                <span class="p-3 mb-5 badge badge-home border border-purple text-purple"><h5 class="mb-0">Wool Paintings</h5></span>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 mb-5">
                        <a href="{% url 'products' %}?collection=christmas_deco">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="" alt="christmas">
                                <div class="card-body pb-0">
                                </div>
                                <div class="card-footer bg-white border-0 pt-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <div class="collection-badge text-center">
                                                <span class="p-3 mb-5 badge badge-home border border-purple text-purple"><h5 class="mb-0">Christmas Deco</h5></span>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 mb-5">
                        <a href="{% url 'products' %}?collection=home_deco">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="" alt="home_deco">
                                <div class="card-body pb-0">
                                </div>
                                <div class="card-footer bg-white border-0 pt-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <div class="collection-badge text-center">
                                                <span class="p-3 mb-5 badge badge-home border border-purple text-purple"><h5 class="mb-0">Home Deco</h5></span>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 mb-5">
                        <a href="{% url 'products' %}">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="" alt="all_products">
                                <div class="card-body pb-0">
                                </div>
                                <div class="card-footer bg-white border-0 pt-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <div class="collection-badge text-center">
                                                <span class="p-3 mb-5 badge badge-home border border-purple text-purple"><h5 class="mb-0">All Products</h5></span>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}