{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <!--Homepage picture and presentation. On smaller than medium devices
    the column on the left comes on top of the one on the right.
    This is done with hide and display properties from bootstrap-->
    <div class ="overlay"></div>
    <section class="container-fluid">
        <div class="row homepage-style text-center">
            <div class="col-12 col-md-6 homepage-bg">
            
                <div class="d-md-none my-5">
                    <div class="homepage-title">
                        
                    </div>
                    <div>
                        <p class="my-5 font-weight-bold">My own needle and wet-felted toys, brooches, paintings and other experiments with
                            dyed wool, or what I like to call "woollies"
                        </p>
                    </div>
                    <div>
                        <a href="/" class=" btn btn-lg shop-now-button my-4 rounded text-uppercase">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 my-auto d-none d-md-block">
                <div class="homepage-title">

                </div>
                <div>
                    <p class="my-5 font-weight-bold">My own needle and wet-felted toys, brooches, paintings and other experiments with
                        dyed wool, or what I like to call "woollies"
                    </p>
                </div>
                <div>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded text-uppercase">Shop Now</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}