<footer class="container-fluid mt-5 footer-custom">
    <div class="row pt-4">
        <div class="col-6 text-center">
           <ul class="list-unstyled">
                <li>
                    <h4><a href="#" class="text-decoration-none text-white">About us</a></h5>
                </li>
                <li>
                    <h4><a href="#" class="text-decoration-none text-white">Contact</a></h5>
                </li>
            </ul>
        </div>
        <div class="col-6 text-center">
            <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/DreamWoollies" class="text-white" target="_blank"><i class="fab fa-facebook fa-lg"></a></i>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/dream_woollies/?hl=ro" class="text-white" target="_blank"><i class="fab fa-instagram fa-lg"></a></i>
                </li>
                <li class="list-inline-item">
                  <a href="https://ro.pinterest.com/cucoreanu0393/" class="text-white" target="_blank"><i class="fab fa-pinterest fa-lg"></a></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <h5>Payments secured by <i class="fab fa-cc-stripe fa-lg"></i></h5>
            <h5>Accepted cards</h5>
                <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                        <i class="fab fa-cc-visa"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-cc-mastercard"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-cc-amex"></i>
                    </li>
                </ul>
            <p class="mt-5">&copy;Vlad Oprea for educational purposes</p>
        </div>
    </div>
</footer>