{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
<!--Individual product details-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 offset-lg-2">
                <div class="mt-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">                                
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="mb-5 mt-sm-5">
                    <h5 class="mb-0">{{ product.name }}</h5>
                    {% if product.rating %}
                    <small class="text-muted">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {{ product.rating }} / 5
                    </small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    <p class="mt-3">{{ product.description }}</p>
                    <p class="text-muted mb-0"><small>Dimensions(height/width): {{ product.height }} / {{ product.width }} cm</small></p>
                    <p class="text-muted"><small><i class="fas fa-table"></i> {{ product.collection.friendly_name }}</small></p>
                   
                     <!--Add to bag form with selecting quantity options and add to bag button-->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-6">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <!--Quantity input with +/- buttons-->
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-purple rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="1" min="1" max="10"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-purple rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!--End quantity input-->
                            <div class="col-6  mt-5 text-center">
                                <input type="submit" class="btn btn-purple text-uppercase" value="Add to Bag">
                            </div>
                        </div>
                            
                        <div class="row mt-4">
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-sm btn-blue">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row  mt-5">
            <div class="col-12 col-md-6">

            </div>
            <div class="col-12 col-md-6">
                <h4 class="text-uppercase">Write a review</h4>
                <form action="" method="POST" class="form-group review-form">
                    {% csrf_token %}
                    {{ review_form|crispy }}
                    <div class="input-rating">
                        <strong class="text-uppercase">Your Rating:</strong>
                        <div class="stars">
                            <input type="radio" id="star5" name="rate" value="5"><label for="star5"></label>
                            <input type="radio" id="star4" name="rate" value="4"><label for="star4"></label>
                            <input type="radio" id="star3" name="rate" value="3"><label for="star3"></label>
                            <input type="radio" id="star2" name="rate" value="2"><label for="star2"></label>
                            <input type="radio" id="star1" name="rate" value="1"><label for="star1"></label>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <button id="submit-button" class="btn btn-lg btn-purple">
                            <span class="text-uppercase">Add review</span>
                        </button>
                    {% else %}
                        <p>You must be logged in to add reviews</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}