{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--All products view. Each products consists in a card 
        that contains image and info like name,price, rating-->
    <div class="container-fluid">
        <div class="row"> 
            <div class="col text-center text-uppercase">
                <h2 class="mt-3">Products</h2>
                {% for c in current_collections %}
                    <div class="collection-badge">
                        <span class="p-3 mt-3 badge border border-black">{{ c.friendly_name }}</span>
                    </div>
                {% endfor %}
                <hr class="w-50 my-4">
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <!--Sorting box options, with number of results and search query displayed.
                Django template and JS for functionality-->
                <div class="row mt-2 mb-3">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_collections or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'home' %}">Home</a> | </span>
                                <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
                            {% endif %}
                            {{ products|length }} Products per page {% if search_term %}found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{% static 'product.image.url' %}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    {% if product.rating %}
                                        <small class="text-muted">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            {{ product.rating }} / 5
                                        </small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                                <div class="card-footer bg-white border-0 pt-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0">{{ product.name }}</p>
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                            <p class="text-muted"><small><i class="fas fa-table"></i> {{ product.collection.friendly_name }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Adding horizontal width rule between rows with products
                        for every screen size depending on the number of products on a row.
                        Used Django template technique with help from Code Institute video lesson-->
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        <!--End horizontal rule-->
                    {% endfor %}
                </div>
                <!--Pagination for all products, filtered, sorted or searched products. 
                    This is done with an if statement inside the url-->
                <nav class="mt-3" aria-label="Page navigation">
                    <ul class='pagination pagination-sm justify-content-center'>
                        {% if products.has_previous %}
                            <li class="page-item">  
                                <span class="page-link">  
                                    <a href="?page=1 {% if collection_page %}&collection={{ collection_page }}
                                                     {% elif sort %}&sort={{ sort }}&direction={{ direction}}
                                                     {% elif query_page %}&q={{ query_page }}
                                                     {% endif %}" class="mr-2">First</a>
                                    <a href="?page={{ products.previous_page_number }} {% if collection_page %}&collection={{ collection_page }}
                                                                                       {% elif sort %}&sort={{ sort }}&direction={{ direction}}
                                                                                       {% elif query_page %}&q={{ query_page }}
                                                                                       {% endif %}">&laquo; &laquo;</a>
                                </span> 
                            </li>
                        {% endif %}
                            <li class="page-item active">  
                                <span class="page-link border-0">
                                    {{ products.number }} of {{ products.paginator.num_pages }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        
                        {% if products.has_next %}
                            <li class="page-item">  
                                <span class="page-link">  
                                     <a href="?page={{ products.next_page_number }} {% if collection_page %}&collection={{ collection_page }}
                                                                                    {% elif sort %}&sort={{ sort }}&direction={{ direction}}
                                                                                    {% elif query_page %}&q={{ query_page }}
                                                                                    {% endif %}">&raquo; &raquo;</a>
                                     <a class="ml-2" href="?page={{ products.paginator.num_pages }} {% if collection_page %}&collection={{ collection_page }}
                                                                                                    {% elif sort %}&sort={{ sort }}&direction={{ direction}}
                                                                                                    {% elif query_page %}&q={{ query_page }}
                                                                                                    {% endif %}">Last</a>
                                </span>
                            </li>
                        {% endif %}
                        <!--End Pagination-->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--Back to top button-->
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-purple mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

<!--JS for sort box functionality. JS for back to top button
    Code taken from Code Institute video lessons: Project - Boutique Ado-> Product Sorting->  Sorting Products Part 3-->

{% block postloadjs %}
    {{ block.super }}
    <!--Back to top button-->
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
    </script>
    <!--Sorting-->
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delte("dimension");

                window.location.replace(currentUrl);
            }
        })
</script>
{% endblock %}