<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="toast-header bg-success text-white">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="bg-white">Your bag({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-3">
                        <img class="w-100" src="{{ item.product.image.url }}">
                    </div>
                    <div class="col-9">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small text-muted">Quantity: {{ item.quantity }}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col text-center">
                    <h4>Total: {{ total|floatformat:2 }}</h4>
                    <p class="text-muted">Delivery: £{{ delivery|floatformat:2 }}</p>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-1 text-danger">
                            Get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                        </p>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'checkout' %}" class="btn btn-purple btn-block">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    {% else %}
                        <!-- Button trigger modal -->
                        <a class="btn btn-purple btn-lg d-block d-sm-inline-block mt-2" data-toggle="modal" data-target="#exampleModalCenter">
                            <span class="text-uppercase text-white">Secure Checkout</span>
                            <span class="icon text-white">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header payment-custom">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Dream Woollies Checkout</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col text-center">
                                                <p>To have access to your profile and order history:</p>
                                                <a href="{% url 'account_signup' %}" class="btn btn-lg btn-dark">
                                                    <span class="text-uppercase">Register</span>
                                                </a>
                                                <p class="my-1">or</p>
                                                <a href="{% url 'account_login' %}" class="btn btn-lg btn-light">
                                                    <span class="text-uppercase">Login</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer m-auto">
                                        <a href="{% url 'checkout' %}" class="btn btn-purple btn-lg d-block d-sm-inline-block mt-2">
                                            <span class="text-uppercase">Continue as guest</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>  